
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evita que elementos internos la desborden */
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

.pregunta {
    margin-bottom: 15px;
}

.opciones {
    display: flex;
    justify-content: space-around;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

#resultado {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}
